<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://phelipot.me/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Commandez votre Manifestation !</title>
    <link rel="stylesheet" href="{{ path }}assets/css/foundation.css" />
    <link rel="stylesheet" href="{{ path }}assets/css/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="{{ path }}assets/css/style.css">
    <script src="{{ path }}assets/js/vendor/modernizr.js"></script>
</head>
<body>

{% include "v_menu.twig" %}
<div class="row">
    {% for flashMessage in app.session.flashbag.get('msg') %}
        <div data-alert class="alert-box info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div data-alert class="alert-box alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div data-alert class="alert-box success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}

{% block contenu %}
Bienvenue !
{% endblock %}

</div>

<script src="{{ path }}assets/js/vendor/jquery.js"></script>
<script src="{{ path }}assets/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>