<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="http://www.iut-bm.univ-fcomte.fr/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>exemple MVC php</title>
    <link rel="stylesheet" href="{{ path }}assets/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="{{ path }}assets/css/style.css">
    <script src="{{ path }}assets/js/vendor/modernizr.js"></script>
</head>
<body>

{#{% include "v_menu.twig" %}
#}
{% block contenu %}
Bienvenue !
{% endblock %}



<script src="{{ path }}assets/js/vendor/jquery.js"></script>
<script src="{{ path }}assets/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>