<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1> <a href="{{ path }}index.php">WEB</a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li><a href="{{ path('manifestant.show') }}">Commandez votre manifestation !</a></li>
            {% if app.session.get('logged') is defined and app.session.get('logged') == 1 %}
            <li><a href="{{ path('panier.show') }}">Votre Panier</a></li>
                <li><a href="{{ path('commande.clientList') }}">Vos Commandes</a></li>
            {% endif %}
        </ul>
        {% if app.session.get('logged') is defined and app.session.get('logged') == 1 and app.session.get('droit') == 'admin' %}
        <ul class="has-dropdown">
            <li class="has-dropdown"><a href="#">Administration</a>
                <ul class="dropdown">
                    <li><a href="{{ path('commande.adminList') }}"> Afficher les paniers clients </a></li>
                    <li><a href="{{ path('manifestant.add') }}"> créer un Type de Manifestant </a></li>
                    <li><a href="{{ path('manifestant.show') }}">afficher/editer/supprimer les Types Manifestant</a></li>

                </ul>
            </li>
        </ul>
        {% endif %}

        <ul class="right">
            {% if app.session.get('logged') is defined and app.session.get('logged') == 1 %}
                <li>
                    <a href="{{ url('client.logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li data-dropdown="login-dropdown" data-options="align:left">
                    <a href="#">Connexion</a>
                </li>
            {% endif %}
        </ul>
</section>
</nav>
<div id="login-dropdown" class="f-dropdown small content" data-dropdown-content="true">
    <form method="post" action="{{ url('client.login') }}">
        <input type="email" name="email" placeholder="Email du compte client">
        <input type="password" name="password" placeholder="Mot de passe">
        <input type="submit" value="Connexion" class="small button success">
    </form>
</div>