{% extends "v_layout.twig" %}
{% block contenu %}
    <div class="row">
    <table>
    <caption>Informations sur Les Manifestants</caption>
        <thead>
            <tr>
                <th>n°</th>
                <th>prix</th>
                <th>nom</th>
                <th>photo</th>
                <th>stock</th>
                <th>choix</th>
            </tr>
        </thead>
        <tbody>
            {% for manifestant in data if data is not empty %}
                <tr>
                    <td>{{manifestant.id}}</td>
                    <td>{{manifestant.prix}}</td>
                    <td>{{manifestant.nom}}</td>
                    <td>{{manifestant.photo}}</td>
                    <td>{{ manifestant.stock }}</td>
                    <td>
                        <a href="{{url('manifestant.edit', {'id':manifestant.id})}}"> <span class="fi-page-edit"></span> Modifier </a>
                        <a href="{{url('manifestant.delete', {'id':manifestant.id})}}"><span class="fi-trash"></span> Supprimer </a>
                    </td>
               </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}