{% extends "v_layout.twig" %}
{% block contenu %}
    <div class="row align-center">
        <div class="column large-9 small-4">
    {% for manifestant in data if data is not empty %}
        <div class="row" style="border: groove #84b1ff 2px; margin: 15px;">
            <h1 style="padding-left: 3px;">{{manifestant.nom}}</h1>
            <div class="column large-4" style="margin: 3px;">
                <img src="{{ path }}images/{{manifestant.photo}}">
            </div>
            <div class="column large-7">
                <div class="row">Prix : {{manifestant.prix}} €</div>
                <div class="row">Catégorie : {{ manifestant.libelle }}</div>
                <div class="row" style="margin-top: 5px;">{{ manifestant.description }}</div>
                <div class="row collapse" style="margin-top: 15px;">
                    <form action="{{ url('panier.ajout') }}" method="post">
                        <input type="hidden" name="idManifestant" value="{{ manifestant.id }}">
                        <div class="row collapse">
                            <label>Quantité</label>
                            <div class="small-5 columns">
                                <input id="quantite" name="quantite" type="number" min="1" max="{{ manifestant.stock }}" {% if manifestant.stock == 0 %} disabled value="0" {% else %} value="1" {% endif %}>
                            </div>
                            <div class="small-4 columns">
                                <span class="postfix" style="font-style: italic;">{{ manifestant.stock }} disponible{% if manifestant.stock > 1 %}s{% endif %}</span>
                            </div>
                            <div class="small-3 columns">

                                <input class="postfix button radius
                                {% if manifestant.stock < 4 and manifestant.stock >0 %}warning {% else %}success {% endif %}
                                {% if manifestant.stock == 0 %}
                                    disabled
                                {% endif %} " {% if manifestant.stock == 0 %} disabled {% endif %} type="submit" value="Ajouter">
                            </div>
                        </div>

                </form>
                </div>
            </div>
        </div>
    {% endfor %}
        </div>
        <div class="column large-3 small-4">
            <div class="row">
                <table>
                    {% if panier is not null and panier is not empty %}
                    <caption> Votre Panier </caption>
                    <thead>
                    <tr>
                        <th> Quantite </th>
                        <th> Description</th>
                        <th>Prix</th>
                        <th> Modifier</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for element in panier %}
                            <tr>
                                <td> {{ element.quantite }}</td>
                                <td> {{ element.nom }}</td>
                                <td> {{ element.prix }}</td>
                                <td>
                                    <div class="row collapse">
                                        <div class="columns small-6">
                                            <form action="{{ url('panier.ajout') }}" method="post"  id="add{{ element.id }}">
                                                <input type="hidden" value="{{ element.id }}" name="idManifestant">
                                                <input type="hidden" value="1" name="quantite">
                                            </form>
                                            <button type="submit" form="add{{ element.id }}" class="radius success button prefix"><span class="fi-plus"></span></button>
                                        </div>

                                        <div class="columns small-6">
                                            <form action="{{ url('panier2.remove') }}" method="post"  id="remove{{ element.id }}">
                                                <input type="hidden" value="{{ element.id }}" name="idManifestant">
                                                <input type="hidden" value="1" name="quantite">
                                            </form>
                                            <button type="submit" form="remove{{ element.id }}" class="postfix radius button"><span class="fi-minus"></span></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        {% else %}
                    {% endif %}

                    </tbody>
                </table>
            </div>
            <div class="row">
                {% set totalPrix = 0 %}
                {% for element in panier %}
                    {% set totalPrix = totalPrix + element.prix*element.quantite %}
                    {% endfor %}
                {% if totalPrix!= 0 %}
                <span> Montant Total: {{ totalPrix }} €</span>
                    {% endif %}
            </div>
            <div class="row">
                <a href="{{ url('panier.show') }}">Voir le panier / Payer</a>
            </div>

        </div>
    </div>
{% endblock %}