{% extends "v_layout.twig" %}
{% block contenu %}
    <div class="row align-center">
        <div class="column large-9 small-4">
    <table>
    <caption>Informations sur Les Manifestants</caption>
        <thead>
            <tr>
                <th>n°</th>
                <th>Prix</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Photo</th>
                <th>Stock</th>
                <th>Choix</th>
            </tr>
        </thead>
        <tbody>
            {% for manifestant in data if data is not empty %}
                <tr>
                    <td>{{manifestant.id}}</td>
                    <td>{{manifestant.prix}} €</td>
                    <td>{{manifestant.nom}}</td>
                    <td>{{ manifestant.libelle }}</td>
                    <td>{{manifestant.photo}}</td>
                    <td>{{ manifestant.stock }}</td>
                    <td>
                        <a href="{{url('manifestant.edit', {'id':manifestant.id})}}"> <span class="fi-page-edit"></span> Modifier </a>
                        <a href="{{url('manifestant.delete', {'id':manifestant.id})}}"><span class="fi-trash"></span> Supprimer </a>
                    </td>
               </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
        <div class="column large-3 small-4">
            <div class="row">
                <table>
                    <caption> Votre Panier </caption>
                    <thead>
                    <tr>
                        <th> Quantite </th>
                        <th> Description</th>
                        <th>Prix</th>
                        <th> Modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td> res</td>
                    <td> res2</td>
                    <td> res3</td>
                    <td>
                        <a href="#"> <span class="fi-plus"> </span></a>
                        <a href="#"> <span class="fi-minus"> </span></a>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                montant :
                <a href="#"> <span class="fi-check"> Valider </span></a>
            </div>

        </div>
    </div>
{% endblock %}