{% extends "v_layout.twig" %}
{% block contenu %}
    <div class="row align-center">
        <div class="column large-9 small-4">
    <table>
    <caption>Informations sur Les Manifestants</caption>
        <thead>
            <tr>
                <th>n°</th>
                <th>Prix</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Photo</th>
                <th>Stock</th>
                <th>Choix</th>
            </tr>
        </thead>
        <tbody>
            {% for manifestant in data if data is not empty %}
                <tr>
                    <td>{{manifestant.id}}</td>
                    <td>{{manifestant.prix}} €</td>
                    <td>{{manifestant.nom}}</td>
                    <td>{{ manifestant.libelle }}</td>
                    <td>{{manifestant.photo}}</td>
                    <td>{{ manifestant.stock }}</td>
                    <td>
                        <a href="{{url('manifestant.edit', {'id':manifestant.id})}}"> <span class="fi-page-edit"></span> Modifier </a>
                        <a href="{{url('manifestant.delete', {'id':manifestant.id})}}"><span class="fi-trash"></span> Supprimer </a>
                    </td>
               </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
        <div class="column large-3 small-4">
            <table>
                <caption> Votre Panier </caption>
                <thead>
                    <tr>
                        <th> test </th>
                        <th> test2</th>
                        <th> test3</th>
                    </tr>
                </thead>
                <tbody>
                    <td> res</td>
                    <td> res2</td>
                    <td> <res3></res3></td>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}