{% extends "v_layout.twig" %}
{% block contenu %}
    <div class="row">
        {% if panier is not empty %}
        <table>
            <caption>Votre Panier </caption>
            <thead>
            <tr>
                <th>Quantite </th>
                <th>Description</th>
                <th>Prix</th>
                <th> - </th>
            </tr>
            </thead>
            <tbody>
            {% for objet in panier if panier is not empty %}
            <tr>
            <td>{{ objet.quantite }}</td>
            <td> {{ objet.nom }}</td>
            <td> {{ objet.prix }}</td>
            <td style="width: 40%;">
                <div class="row collapse">
                    <div class="columns small-6">
                        <form action="{{ url('panier.ajout') }}" method="post"  id="add{{ objet.id }}">
                            <input type="hidden" value="{{ objet.id }}" name="idManifestant">
                            <input type="hidden" value="1" name="quantite">
                        </form>
                        <button type="submit" form="add{{ objet.id }}" class="radius success button prefix"><span class="fi-plus"> Ajouter</span></button>
                    </div>

                    <div class="columns small-6">
                    <form action="{{ url('panier.remove') }}" method="post"  id="remove{{ objet.id }}">
                        <input type="hidden" value="{{ objet.id }}" name="idManifestant">
                        <input type="hidden" value="1" name="quantite">
                    </form>
                    <button type="submit" form="remove{{ objet.id }}" class="postfix radius button"><span class="fi-minus"> Enlever</span></button>
                    </div>
                </div>
            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            <div class="row">
                {% set totalPrix = 0 %}
                {% for element in panier %}
                    {% set totalPrix = totalPrix + element.prix*element.quantite %}
                {% endfor %}
                {% if totalPrix!= 0 %}
                    <span> Montant Total: {{ totalPrix }} €</span>
                {% endif %}
            </div>
        <form action="{{ url('commande.valider') }}" method="get" id="valider">
            <button type="submit" form="valider" class="radius success"> <span class="success"></span> Passer Commande</button>
            <button type="reset" class="radius"> <span class="radius"></span> Annuler Commande </button>
        </form>
        {% else %}
            <p>Votre panier est vide. <a href="{{ url('manifestant.show') }}">Retourner faire des courses</a></p>
        {% endif %}
{% endblock %}