{% extends "v_layout.twig" %}
{% block contenu %}
    <div class="row">
        {% if panier is not empty %}
        <table>
            <caption>Votre Panier </caption>
            <thead>
            <tr>
                <th>Quantite </th>
                <th>Description</th>
                <th>Prix</th>
                <th> - </th>
            </tr>
            </thead>
            <tbody>
            {% for objet in panier if panier is not empty %}
            <tr>
            <td>{{ objet.quantite }}</td>
            <td> {{ objet.nom }}</td>
            <td> {{ objet.prix }}</td>
            <td>
                <form action="{{ url('panier.ajout') }}" method="post"  id="{{ objet.id }}">
                    <input type="hidden" value="{{ objet.id }}" name="idManifestant">
                    <input type="hidden" value="1" name="quantite"></form>
                    <button type="submit" form="{{ objet.id }}"><span class="fi-plus"> Ajouter</span></button>
                <a href="{{ url('panier.remove') }}"> <span class="fi-minus"> Supprimer </span></a>
            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Votre panier est vide. <a href="{{ url('manifestant.show') }}">Retourner faire des courses</a></p>
        {% endif %}
    </div>
{% endblock %}