{% extends "v_layout.twig" %}
{% block contenu %}
    <table>
        <caption> Vos commandes </caption>
        <thead>
        <tr>
            <th>N° de Commande</th>
            <th> Détails commande </th>
            <th class="text-center"> Date </th>
            <th> Status </th>
        </tr>
        </thead>
        <tbody>
        {% for commande in data if data is not empty %}
            <tr>
                <td>#{{ commande.idCommande }}</td>
                <td>
                    <a data-dropdown="drop{{ commande.idCommande }}" aria-controls="drop{{ commande.idCommande }}" aria-expanded="false">Détails</a>
                    <ul id="drop{{ commande.idCommande }}" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                        {% for liste in commande.detail if commande.detail is not empty %}
                            <li>{{ liste.quantite }} x {{ liste.nom }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td> {{ commande.date }}</td>
                <td> {{ commande.etat }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}