{% extends "v_layout.twig" %}
{% block contenu %}
    <table>
        <caption> Les Commandes Clients </caption>
        <thead>
        <tr>
            <th>N° Commande </th>
            <th> IdClient </th>
            <th> Détails commande </th>
            <th class="text-center"> Date </th>
            <th> Status </th>
            <th class="text-center"> Action </th>
        </tr>
        </thead>
        <tbody>
        {% for commande in data if data is not empty %}
            <tr>
                <td> {{ commande.idCommande }}</td>
                <td> {{ commande.idClient }} </td>
                <td>
                    <a data-dropdown="drop{{ commande.idCommande }}" aria-controls="drop{{ commande.idCommande }}" aria-expanded="false">Détails</a>
                    <ul id="drop{{ commande.idCommande }}" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                        {% for liste in commande.detail if commande.detail is not empty %}
                            <li>{{ liste.quantite }} x {{ liste.nom }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td> {{ commande.date }}</td>
                <td> {{ commande.etat }} </td>
                <td>
                    <div class="row collapse">
                        <div class="columns small-6">
                            <form action="#" method="get" id="valider">
                                <button type="submit" form="valider}" class="radius success button"><span class="success">Valider</span></button>
                            </form>
                        </div>
                        <div class="columns small-6">
                            <form action="#" method="get" id="annuler">
                                <button type="submit" form="annuler" class="radius button "><span class="radius">Annuler</span></button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}